[submodule "src/submodules/Utils"]
	path = src/submodules/Utils
	url = https://github.com/EvitcaStudio/Utils.git
[submodule "src/submodules/Tween"]
	path = src/submodules/Tween
	url = https://github.com/EvitcaStudio/Tween.git
[submodule "src/submodules/Chronos"]
	path = src/submodules/Chronos
	url = https://github.com/EvitcaStudio/Chronos.git
[submodule "src/submodules/Resonance"]
	path = src/submodules/Resonance
	url = https://github.com/EvitcaStudio/Resonance.git
[submodule "src/submodules/Collector"]
	path = src/submodules/Collector
	url = https://github.com/EvitcaStudio/Collector.git
[submodule "src/submodules/StateManager"]
	path = src/submodules/StateManager
	url = https://github.com/EvitcaStudio/StateManager.git
[submodule "src/submodules/Pulse"]
	path = src/submodules/Pulse
	url = https://github.com/EvitcaStudio/Pulse.git
